# Ignore virtual environment
langchain_env/

# Ignore environment variable files
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Streamlit secrets (if used later)
.streamlit/secrets.toml

# Ignore IDE files (PyCharm)
.idea/